.log:nth-child(odd) {
    background-color: lightgray;
    color: black;
}

.log:nth-child(even) {
    background-color: white;
    color: black;
}

.log:hover {
    background-color: black;
    color: white;
}