.log:nth-child(odd) {
    background-color: gray;
    color: black;
}

.log:nth-child(even) {
    background-color: black;
    color: white;
}

.log:hover {
    background-color: white;
    color: black;
}